* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #ffffff;
    font-family: 'calibri';
  }
  
  header {
    width: 100%;
    clear: both;
    content:'';
    display: table;
  }
  
  .menu {
    width: 900px;
    margin: 1 auto;
  }
  
  .logo {
    width: 120px;
    height: 120px;
    float: left;
    padding: 8px;
  
  }
  
  nav {
    float: right;
  }
  
  nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
    position: relative;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
  }
  
  nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: #444;
    height: 5px;
    top:0;
    position: absolute;
    transition: width 0.2s;
  }
  
  nav ul li a:hover::before {
    width: 100%;
  }

  .forma{
    position: absolute;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(33,208,30,1) 100%);
    border-radius: 100% 0% 50% 50% / 86% 100% 0% 14%;
    width: 650px;
    height: 800px;
    margin: 1 auto;
    left: 1200px;
    bottom: 90px;
}

.checo {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 500px;
    left: 1400px;
  }
  .checo {
    z-index: 1;

  }
  
  .presentation{
    position: relative;
    left: 200px;
    top: 200px;
    }
    
    .content{
        font-family: Calibri;
        position: absolute;
        align-items: center;
        text-align: justify;
    
    }
    
    .lista{
        font-family: Calibri;
        font-size: 30px;
    }
    
    .hobbies{
        left: 200px;
        top: 700px;
        position: absolute;
        font-family: Arial;
        font-size: 20px;
    }
    
    
    .boton {
        background-image: linear-gradient(to right, #2e20aa 0%, #16af2f  51%, #000000  100%);
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        display: block;
      }
    
      .boton:hover {
        background-position: right center;
        color: #fff;
        text-decoration: none;
      }